<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class=" row col-sm-4">
                            <div class="col-sm-6">
                                <div class="search-box me-2 mb-2 d-inline-block">
                                    <div class="position-relative">
                                        <input type="serach" class="form-control" autocomplete="off"
                                            id="searchTableList" placeholder="Search..." [(ngModel)]="searchInput"
                                            (input)="onSearch()">
                                        <i class="bx bx-search-alt search-icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" *ngIf="showListAccount">
                                <ng-select #select [items]="accountList" [searchable]="false"
                                    [ngModel]="accountList[0]?.account?.id" bindLabel="account.name"
                                    bindValue="account.id" [clearable]="false" placeholder="Select Account"
                                    (change)="changeSitesData($event?.account?.id)" typeToSearchText="Type to search">
                                    <ng-template ng-header-tmp>
                                        <div class="form-group has-feedback">
                                            <input style="width: 100%;line-height: 24px" type="text"
                                                class="form-control" placeholder="Search"
                                                (input)="select.filter($event.target.value)" />
                                        </div>
                                    </ng-template>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-sm-8" *ngIf="showAddRole">
                            <div class="text-sm-end">
                                <button type="button" class="btn btn-primary mb-2 me-2" (click)="routeToAddRole()"><i
                                        class="mdi mdi-plus mr-1"></i>
                                    Add Role</button>
                            </div>
                        </div>
                    </div>
                    <!-- Table data -->
                    <div class="table-responsive mb-0">
                        <table class="table align-middle table-nowrap dt-responsive nowrap w-100" id="order-list">
                            <thead class="table-light table-fixed-header">
                                <tr>
                                    <th class="align-middle">Role ID</th>
                                    <th class="align-middle">Name</th>
                                    <th class="align-middle">Type</th>
                                    <th class="align-middle">Is Default</th>
                                    <th class="align-middle" *ngIf="showEditRole || showDeleteRole">Action</th>
                                </tr>
                                <tr *ngIf="roleList.length == 0">
                                    <th class="align-middle" style="text-align: center;" colspan="5">No data available
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of roleList; let i = index;" id="o_{{data.id}}">
                                    <td>
                                        <a class="text-body fw-bold pointer"
                                            (click)="routeToViewRole(data.id)">{{data.id}}</a>
                                    </td>
                                    <td class="pointer" (click)="routeToViewRole(data.id)">{{data.name}}</td>
                                    <td>
                                        {{data.type}}
                                    </td>
                                    <td>
                                        <span class="badge badge-pill badge-soft-info font-size-11"
                                            [ngClass]=" { 'badge-soft-warning': data.default === false }">{{data.default
                                            |
                                            isDefaultRole}}</span>
                                    </td>
                                    <td>
                                        <div class="d-flex gap-3">
                                            <span class="text-success pointer" *ngIf="showEditRole">
                                                <i class="mdi mdi-pencil font-size-18" [class.disabled]="data.default"
                                                    (click)="routeToEditRole(data.id)"></i>
                                            </span>
                                            <span class="text-danger pointer" *ngIf="showDeleteRole"><i
                                                    class="mdi mdi-delete font-size-18" [class.disabled]="data.default"
                                                    (click)="openDeleteConfirmDialog(data.id)"></i></span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- end table -->
                    <ul class="pagination pagination-rounded justify-content-end mb-2">
                        <pagination [totalItems]="total" [(ngModel)]="currentPage" [itemsPerPage]="perPage"
                            (pageChanged)="pageChanged($event)">
                        </pagination>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>