.custom-form{
  height: 90%;
  overflow-y:scroll;
  overflow-x: hidden;
}
  
.custom-form::-webkit-scrollbar {
    width: 5px; 
}

.custom-form::-webkit-scrollbar-thumb {
  background-color: #556080; 
  border-radius: 10px;
}

.custom-form::-webkit-scrollbar-track {
  background-color: transparent; 
}
.card-body{
  height: calc(100vh - 180px);
}
  
.scrollable-step {
  max-height: 400px; /* Adjust this value according to your needs */
  overflow-y: auto;
  padding-right: 10px; /* Optional: To avoid content getting hidden behind the scrollbar */
}

.scrollable-step::-webkit-scrollbar {
  width: 8px; /* Optional: Custom scrollbar width */
}

.scrollable-step::-webkit-scrollbar-thumb {
  background-color: #888; /* Optional: Custom scrollbar color */
  border-radius: 4px;
}

.scrollable-step::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Optional: Custom scrollbar hover color */
}