<div class="card">
  <div class="card-body">
    <div class="d-flex align-items-start justify-content-start">
      <i class="bx bx-left-arrow-alt font-size-18 pointer" (click)="routeToListSite()"></i>
      <h4 class="card-title mb-4">Add Site</h4>
    </div>
    <div id="site-wizard">
      <ng-stepper [linear]="true" class="wizard site-stepper" [selectedIndex]="selectTabIndex">
        <cdk-step [optional]="false">
          <ng-template cdkStepLabel>
            <div (click)="stepClicked(0)" class="hover-pointer">
              <span class="number">1</span>
              <span class="step-text">Basic Details</span>
            </div>
          </ng-template>
          <section *ngIf="selectedTab == 0">
            <form (ngSubmit)="addSite()" [formGroup]="siteForm" class="custom-form">
              <h6 class="mb-2">Site Details</h6>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <label for="siteName">Site Name</label>
                  <input type="text" class="form-control"
                    [ngClass]="{ 'form-error':showError('siteName'),'form-success':showSuccess('siteName') }"
                    formControlName="siteName">
                  <div *ngIf="formTouched('siteName')">
                    <div *ngIf="isError('siteName','required')" class="text-danger">
                      {{errorMessage('siteName','required')}}
                    </div>
                    <div *ngIf="isError('siteName','pattern')" class="text-danger">
                      {{errorMessage('siteName','pattern')}} </div>
                    <div *ngIf="isError('siteName','maxlength')" class="text-danger">
                      {{errorMessage('siteName','maxlength')}} </div>
                    <div *ngIf="isError('siteName','minlength')" class="text-danger">
                      {{errorMessage('siteName','minlength')}} </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <label for="siteAddress">Site Address</label>
                  <input type="text" class="form-control"
                    [ngClass]="{ 'form-error':showError('siteAddress'),'form-success':showSuccess('siteAddress') }"
                    formControlName="siteAddress">
                  <div *ngIf="formTouched('siteAddress')">
                    <div *ngIf="isError('siteAddress','required')" class="text-danger">
                      {{errorMessage('siteAddress','required')}}
                    </div>
                    <div *ngIf="isError('siteAddress','pattern')" class="text-danger">
                      {{errorMessage('siteAddress','pattern')}} </div>
                    <div *ngIf="isError('siteAddress','maxlength')" class="text-danger">
                      {{errorMessage('siteAddress','maxlength')}} </div>
                    <div *ngIf="isError('siteAddress','minlength')" class="text-danger">
                      {{errorMessage('siteAddress','minlength')}} </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <label for="siteCountry">Site Country</label>
                  <ng-select #cList [items]="countriesList" [searchable]="false" [ngModel]="countriesList[0]?.name"
                    bindLabel="name" bindValue="name" [clearable]="false" formControlName="country"
                    (change)="listStatesAPI($event?.code)" typeToSearchText="Type to search">
                    <ng-template ng-header-tmp>
                      <div class="form-group has-feedback">
                        <input style="width: 100%;line-height: 24px" type="text" class="form-control"
                          placeholder="Search" (input)="cList.filter($event.target.value)" />
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
                <div class="col-md-6 mb-4">
                  <label for="siteCountry">Site State</label>
                  <ng-select #stList [items]="stateList" [searchable]="false" [ngModel]="stateList[0]?.name"
                    bindLabel="name" bindValue="name" [clearable]="false" formControlName="state"
                    typeToSearchText="Type to search">
                    <ng-template ng-header-tmp>
                      <div class="form-group has-feedback">
                        <input style="width: 100%;line-height: 24px" type="text" class="form-control"
                          placeholder="Search" (input)="stList.filter($event.target.value)" />
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <label for="geoLocation">Geo Location</label>
                  <div class="row">
                    <div class="col-md-10">
                      <input type="text" class="form-control" formControlName="mapLocation">
                    </div>
                    <div class="col-md-2 mt-2">
                      <a class="text-body pointer text-decoration-underline">Find in Map</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <label for="siteType">Site Type</label>
                  <ng-select #siteType [items]="siteTypes" [searchable]="false" bindLabel="label" bindValue="id"
                    [clearable]="false" formControlName="type" [ngModel]="siteTypes[0]?.id"
                    typeToSearchText="Type to search">
                    <ng-template ng-header-tmp>
                      <div class="form-group has-feedback">
                        <input style="width: 100%;line-height: 24px" type="text" class="form-control"
                          placeholder="Search" (input)="siteType.filter($event.target.value)" />
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
              <h6 class="mb-2" *ngIf="showListAccount">Account Details</h6>
              <div class="row" *ngIf="showListAccount">
                <div class="col-md-6 mb-4">
                  <ng-select #accList [items]="accountList" [searchable]="false" [ngModel]="accountList[0]?.account?.id"
                    bindLabel="account.name" bindValue="account.id" [clearable]="false" formControlName="account"
                    typeToSearchText="Type to search">
                    <ng-template ng-header-tmp>
                      <div class="form-group has-feedback">
                        <input style="width: 100%;line-height: 24px" type="text" class="form-control"
                          placeholder="Search" (input)="accList.filter($event.target.value)" />
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="mb-3">
                    <h4 class="card-title mb-4">Wifi Details</h4>
                    <form class="repeater" [formGroup]="siteForm">
                      <div formArrayName="wifiDetails">
                        <div *ngFor="
                                      let data1 of formData.controls;
                                      let i = index
                                    ">
                          <div [formGroupName]="i" class="row">
                            <div class="mb-3 col-lg-5">
                              <label for="username">Username</label>
                              <input type="text" formControlName="username" placeholder="Username"
                                class="form-control" />
                            </div>
                            <div class="mb-3 col-lg-5">
                              <label for="password">Password</label>
                              <input type="password" formControlName="password" class="form-control"
                                placeholder="Password" />
                            </div>
                            <div class="col-lg-2 mt-1 align-self-center">
                              <div class="d-grid" *ngIf="allowAddSite">
                                <input type="button" class="btn btn-primary" value="Delete" (click)="removeField(i)" />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12 d-flex justify-content-end mr-2" *ngIf="allowAddSite">
                          <input type="button" class="btn btn-success mt-3 mt-lg-0 ml-auto" value="Add"
                            (click)="addField()" />
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div *ngIf="allowAddSite">
                <button type="submit" class="btn btn-primary w-md" [disabled]="siteForm.invalid">Submit</button>
              </div>
            </form>
          </section>
        </cdk-step>
        <cdk-step [optional]="true">
          <ng-template cdkStepLabel>
            <div (click)="stepClicked(1)" class="hover-pointer">
              <span class="number">2</span>
              <span class="step-text">Site Configuration</span>
            </div>
          </ng-template>
          <section *ngIf="selectedTab === 1">
            <form [formGroup]="siteSettingForm" class="custom-form">
              <div class="row">

                <div class="col-md-4 mb-4">
                  <label for="theme">Theme</label>
                  <ng-select #themList [items]="themes" [searchable]="false" bindLabel="label" bindValue="id"
                    [clearable]="false" placeholder="Select Theme" formControlName="theme"
                    (change)="updateMiscConfig('theme')" typeToSearchText="Type to search">
                    <ng-template ng-header-tmp>
                      <div class="form-group has-feedback">
                        <input style="width: 100%;line-height: 24px" type="text" class="form-control"
                          placeholder="Search" (input)="themList.filter($event.target.value)" />
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
                <div class="col-md-4 mb-4">
                  <label for="curreny">Currency</label>
                  <ng-select #currList [items]="currenciesList" [searchable]="false" bindLabel="name" bindValue="symbol"
                    [clearable]="false" placeholder="Select Currency" formControlName="currency"
                    (change)="updateMiscConfig('currency')" typeToSearchText="Type to search">
                    <ng-template ng-header-tmp>
                      <div class="form-group has-feedback">
                        <input style="width: 100%;line-height: 24px" type="text" class="form-control"
                          placeholder="Search" (input)="currList.filter($event.target.value)" />
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
              </div>

              <h6 class="mb-2">Tax Details</h6>
              <div class="row">
                <div class="col-md-4 mb-4">
                  <label for="sgst">SGST</label>
                  <div class="row">
                    <div class="col-md-10">
                      <input type="text" class="form-control" formControlName="sgst">
                    </div>
                    <div class="col-md-2 mt-2">
                      <a class="text-body pointer text-decoration-underline update-text"
                        (click)="updateMiscConfig('sgst')">Update</a>
                    </div>                    
                  </div>
                </div>
                <div class="col-md-4 mb-4">
                  <label for="cgst">CGST</label>
                  <div class="row">
                    <div class="col-md-10">
                      <input type="text" class="form-control" formControlName="cgst">
                    </div>
                    <div class="col-md-2 mt-2">
                      <a class="text-body pointer text-decoration-underline update-text"
                        (click)="updateMiscConfig('cgst')">Update</a>
                    </div> 
                  </div>
                </div>
                <div class="col-md-4 mb-4">
                  <label for="serviceTax">Service Tax</label>
                  <div class="row">
                    <div class="col-md-10">
                      <input type="text" class="form-control" formControlName="serviceTax">
                    </div>
                    <div class="col-md-2 mt-2">
                      <a class="text-body pointer text-decoration-underline update-text"
                        (click)="updateMiscConfig('serviceTax')">Update</a>
                    </div> 
                  </div>
                </div>
              </div>
              <h6 class="mb-2">Service Acceptance Settings</h6>
              <div class="row">
                <div class="col-md-4 mb-4">
                  <label for="acceptingOrders">Orders</label>
                  <div class="form-check form-switch form-switch-lg mb-3">
                    <input class="form-check-input ml-2" type="checkbox" id="SwitchCheckSizelg"
                      (click)="toggle('orders')" formControlName="orders"
                      [checked]="this.siteSettingForm.get('orders').value">
                    <label class="form-check-label" for="SwitchCheckSizelg">{{this.siteSettingForm.get('orders').value ?
                      'Enable' : 'Disable'}}</label>
                  </div>
                </div>
                <div class="col-md-4 mb-4">
                  <label for="foodOrder">Food Orders</label>
                  <div class="form-check form-switch form-switch-lg mb-3">
                    <input class="form-check-input ml-2" type="checkbox" id="SwitchCheckSizelg"
                      (click)="toggle('foodOrder')" formControlName="foodOrder"
                      [checked]="this.siteSettingForm.get('foodOrder').value">
                    <label class="form-check-label"
                      for="SwitchCheckSizelg">{{this.siteSettingForm.get('foodOrder').value ?
                      'Enable' : 'Disable'}}</label>
                  </div>
                </div>
                <div class="col-md-4 mb-4">
                  <label for="amenitiesOrder">Amenities Orders</label>
                  <div class="form-check form-switch form-switch-lg mb-3">
                    <input class="form-check-input ml-2" type="checkbox" id="SwitchCheckSizelg"
                      (click)="toggle('amenitiesOrder')" formControlName="amenitiesOrder"
                      [checked]="this.siteSettingForm.get('amenitiesOrder').value">
                    <label class="form-check-label"
                      for="SwitchCheckSizelg">{{this.siteSettingForm.get('amenitiesOrder').value ?
                      'Enable' : 'Disable'}}</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 mb-4">
                  <label for="roomService">Room Service</label>
                  <div class="form-check form-switch form-switch-lg mb-3">
                    <input class="form-check-input ml-2" type="checkbox" id="SwitchCheckSizelg"
                      (click)="toggle('roomService')" formControlName="roomService"
                      [checked]="this.siteSettingForm.get('roomService').value">
                    <label class="form-check-label"
                      for="SwitchCheckSizelg">{{this.siteSettingForm.get('roomService').value
                      ?
                      'Enable' : 'Disable'}}</label>
                  </div>
                </div>
                <div class="col-md-4 mb-4">
                  <label for="cleaningService">Cleaning Service</label>
                  <div class="form-check form-switch form-switch-lg mb-3">
                    <input class="form-check-input ml-2" type="checkbox" id="SwitchCheckSizelg"
                      (click)="toggle('cleaningService')" formControlName="cleaningService"
                      [checked]="this.siteSettingForm.get('cleaningService').value">
                    <label class="form-check-label"
                      for="SwitchCheckSizelg">{{this.siteSettingForm.get('cleaningService').value ?
                      'Enable' : 'Disable'}}</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 mb-4">
                  <label for="orderHistory">Order History</label>
                  <div class="form-check form-switch form-switch-lg mb-3">
                    <input class="form-check-input ml-2" type="checkbox" id="SwitchCheckSizelg"
                      (click)="toggle('orderHistory')" formControlName="orderHistory"
                      [checked]="this.siteSettingForm.get('orderHistory').value">
                    <label class="form-check-label"
                      for="SwitchCheckSizelg">{{this.siteSettingForm.get('orderHistory').value
                      ?
                      'Enable' : 'Disable'}}</label>
                  </div>
                </div>
                <div class="col-md-4 mb-4">
                  <label for="callReception">Call Reception</label>
                  <div class="form-check form-switch form-switch-lg mb-3">
                    <input class="form-check-input ml-2" type="checkbox" id="SwitchCheckSizelg"
                      (click)="toggle('callReception')" formControlName="callReception"
                      [checked]="this.siteSettingForm.get('callReception').value">
                    <label class="form-check-label"
                      for="SwitchCheckSizelg">{{this.siteSettingForm.get('callReception').value ?
                      'Enable' : 'Disable'}}</label>
                  </div>
                </div>
                <div class="col-md-4 mb-4">
                  <label for="sos">SOS</label>
                  <div class="form-check form-switch form-switch-lg mb-3">
                    <input class="form-check-input ml-2" type="checkbox" id="SwitchCheckSizelg" (click)="toggle('sos')"
                      formControlName="sos" [checked]="this.siteSettingForm.get('sos').value">
                    <label class="form-check-label" for="SwitchCheckSizelg">{{this.siteSettingForm.get('sos').value ?
                      'Enable' : 'Disable'}}</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 mb-4">
                  <label for="wifiSerive">Wi-Fi</label>
                  <div class="form-check form-switch form-switch-lg mb-3">
                    <input class="form-check-input ml-2" type="checkbox" id="SwitchCheckSizelg" (click)="toggle('wifi')"
                      formControlName="wifi" [checked]="this.siteSettingForm.get('wifi').value">
                    <label class="form-check-label" for="SwitchCheckSizelg">{{this.siteSettingForm.get('wifi').value ?
                      'Enable' : 'Disable'}}</label>
                  </div>
                </div>
                <div class="col-md-4 mb-4">
                  <label for="events">Events</label>
                  <div class="form-check form-switch form-switch-lg mb-3">
                    <input class="form-check-input ml-2" type="checkbox" id="SwitchCheckSizelg"
                      (click)="toggle('events')" formControlName="events"
                      [checked]="this.siteSettingForm.get('events').value">
                    <label class="form-check-label" for="SwitchCheckSizelg">{{this.siteSettingForm.get('events').value ?
                      'Enable' : 'Disable'}}</label>
                  </div>
                </div>
                <div class="col-md-4 mb-4">
                  <label for="feedback">Feedback</label>
                  <div class="form-check form-switch form-switch-lg mb-3">
                    <input class="form-check-input ml-2" type="checkbox" id="SwitchCheckSizelg"
                      (click)="toggle('feedback')" formControlName="feedback"
                      [checked]="this.siteSettingForm.get('feedback').value">
                    <label class="form-check-label" for="SwitchCheckSizelg">{{this.siteSettingForm.get('feedback').value
                      ?
                      'Enable' : 'Disable'}}</label>
                  </div>
                </div>
              </div>
            </form>
          </section>
        </cdk-step>
      </ng-stepper>
    </div>
  </div>
</div>