<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-start justify-content-start">
            <i class="bx bx-left-arrow-alt font-size-18 pointer" (click)="routeToListRole()"></i>
            <h4 class="card-title mb-4">Add Role</h4>
        </div>
        <form (ngSubmit)="addRole()" [formGroup]="roleForm" class="custom-form">
            <h6 class="mb-2">Role Details</h6>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <label for="roleName">Role Name</label>
                    <input type="text" class="form-control"
                        [ngClass]="{ 'form-error':showError('roleName'),'form-success':showSuccess('roleName') }"
                        formControlName="roleName">
                    <div *ngIf="formTouched('roleName')">
                        <div *ngIf="isError('roleName','required')" class="text-danger">
                            {{errorMessage('roleName','required')}}
                        </div>
                        <div *ngIf="isError('roleName','pattern')" class="text-danger">
                            {{errorMessage('roleName','pattern')}} </div>
                        <div *ngIf="isError('roleName','maxlength')" class="text-danger">
                            {{errorMessage('roleName','maxlength')}} </div>
                        <div *ngIf="isError('roleName','minlength')" class="text-danger">
                            {{errorMessage('roleName','minlength')}} </div>
                    </div>
                </div>
            </div>
            <h6 class="mb-2" *ngIf="showListAccount">Account Details</h6>
            <div class="row" *ngIf="showListAccount">
                <div class="col-md-6 mb-4">
                    <ng-select [items]="accountList" bindLabel="account.name" [clearable]="false" bindValue="account.id"
                        (change)="changeAccountData($event.account.id)" [placeholder]="'Account'"
                        [ngModel]="accountList[0]?.account?.id" formControlName="account"></ng-select>
                </div>
            </div>
            <div class="row">
                <div class="col-container">
                    <div class="col-md-12 mb-4">
                        <h6>Permissions</h6>
                        <!-- <div formGroupName="userPermissions" class="row">
                            <div *ngFor="let key of permissionsData | keys" class="col-md-6 mt-3">
                                <label for="rolePermissions">{{ key }}</label>
                                <div formArrayName="{{ key }}">
                                    <div class="form-check form-check-inline"
                                        *ngFor="let permission of permissionsData[key]; let i = index">
                                        <input class="form-check-input" type="checkbox"
                                            [formControl]="getFormControl(key, i)" (change)="onCheckboxChange(key, i)">
                                        {{ getPermissionLabel(permission.name) }}
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <div formGroupName="userPermissions" *ngFor="let category of permissionsCheckBoxData"
                            class="category-section">
                            <h2>{{ category.categoryName }}</h2>

                            <div class="checkbox-column">
                                <div *ngFor="let permission of category.subLabels; let i = index">
                                    <div class="checkbox" *ngIf="i % 2 === 0">
                                        <input type="checkbox" [id]="'permission-' + permission.permissionId"
                                            [value]="permission.permissionId"
                                            [formControlName]="'category_' + category.categoryId + '_permission_' + permission.permissionId"
                                            (change)="onCheckboxChange($event, category.categoryId, permission.permissionId)">
                                        <label [for]="'permission-' + permission.permissionId">{{
                                            permission.permissionText }}</label>
                                    </div>
                                </div>
                            </div>

                            <div class="checkbox-column">
                                <div *ngFor="let permission of category.subLabels; let i = index">
                                    <div class="checkbox" *ngIf="i % 2 !== 0">
                                        <input type="checkbox" [id]="'permission-' + permission.permissionId"
                                            [value]="permission.permissionId"
                                            [formControlName]="'category_' + category.categoryId + '_permission_' + permission.permissionId"
                                            (change)="onCheckboxChange($event, category.categoryId, permission.permissionId)">
                                        <label [for]="'permission-' + permission.permissionId">{{
                                            permission.permissionText }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary w-md" [disabled]="roleForm.invalid">Submit</button>
            </div>
        </form>
    </div>
</div>