<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom"
    aria-controls="offcanvasBottom">Summary</button>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasBottomLabel">Order Summary</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body small">
        <div class="row">
            <!-- Show Order Details-->
          
                    <div class="table-responsive text-center">
                        <table class="table table-centered mb-0 table-nowrap align-middle">
                            <thead class="table-light">
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th colspan="2">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="product" *ngFor="let product of order; let i = index">
                                    <td>
                                        <h5 class="font-size-14 text-truncate"><a routerLink="/ecommerce/product-detail/1"
                                                class="text-dark">{{ product.name
                                                }}</a></h5>
                                    </td>
        
                                    <td>$<span class="product-price"> {{ product.price }}</span></td>
                                    <td>
                                        <div class="me-3" style="width: 120px;">
                                            <div class="input-group">
                                                <div class="input-group-prepend"><button type="button" class="btn btn-primary"
                                                        (click)="calculateQty('1',product.qty,i)">+</button></div>
                                                <input name="demo_vertical" value="{{product.qty}}" type="text"
                                                    class="form-control" min="0" max="100" readonly>
                                                <div class="input-group-append"><button type="button" class="btn btn-primary"
                                                        (click)="calculateQty('0',product.qty,i)">-</button></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>$<span class="product-line-price">{{ product.total }}</span></td>
                                    <td>
                                        <div class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="Remove">
                                            <a href="javascript:void(0);" class="action-icon text-danger" (click)="delete(i)">
                                                <i class="mdi mdi-trash-can font-size-18"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <!-- Table body for order -->
                            </tbody>
                        </table>
                    </div>
                   
               
        </div>
    </div>
</div>