<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class=" row col-sm-4">
                            <div class="col-sm-6">
                                <div class="search-box me-2 mb-2 d-inline-block">
                                    <div class="position-relative">
                                        <input type="text" class="form-control" autocomplete="off" id="searchTableList"
                                            placeholder="Search..." [(ngModel)]="searchInput" (input)="onSearch()">
                                        <i class="bx bx-search-alt search-icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" *ngIf="showListAccount">
                                <ng-select [ngModel]="accountList[0]?.account?.id" [items]="accountList"
                                    bindLabel="account.name" [clearable]="false" bindValue="account.id"
                                    (change)="changeSitesData($event?.account?.id)" [placeholder]="'Account'"
                                    [clearable]="false"></ng-select>
                            </div>
                        </div>
                        <div class="col-sm-8" *ngIf="showAddSite">
                            <div class="text-sm-end">
                                <button type="button" class="btn btn-primary mb-2 me-2"
                                    (click)="routeToAddSite()"><i class="mdi mdi-plus mr-1"></i>
                                    Add Site</button>
                            </div>
                        </div>
                    </div>
                    <!-- Sites data -->
                    <div class="table-responsive mb-0">
                        <div class="card-row">
                            <ng-container *ngIf="siteList.length > 0; else noData">
                                <div class="col-12">
                                    <div class="card-row">
                                        <div class="site-cal-row" *ngFor="let data of siteList; let i = index;">
                                            <div class="card site-card  pointer">
                                                <div class="icon-container text-center"
                                                    (click)="routeToViewSite(data.id)">
                                                    <i class="bx"
                                                        [ngClass]="{'bx-building-house': data.type === 1, 'bx-restaurant': data.type === 2}"></i>
                                                </div>
                                                <div class="site-card-body text-center">
                                                    <h4 class="card-title mt-2 "><a
                                                            class="text-body fw-bold site-name-text">{{data.name}}</a>
                                                    </h4>
                                                    <p class="card-text site-name-text">{{data.address}}</p>
                                                    <p class="card-text">{{data.type | siteTypePipe}}</p>
                                                    <div class="d-flex justify-content-center gap-3 mb-3">
                                                        <span class="text-success pointer" *ngIf="showEditSite"><i
                                                                class="mdi mdi-pencil font-size-24"
                                                                (click)="routeToEditSite(data.id)"></i></span>
                                                        <span class="text-danger pointer" *ngIf="showDeleteSite"
                                                            (click)="openConfirmDialog(data.id)"><i
                                                                class="mdi mdi-delete font-size-24"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-template #noData>
                                <div class="col-12 text-center mt-5">
                                    <p>No Data Found</p>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                    <ul class="pagination pagination-rounded justify-content-end mb-2">
                        <pagination [totalItems]="total" [(ngModel)]="currentPage" [itemsPerPage]="perPage"
                            (pageChanged)="pageChanged($event)">
                        </pagination>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>