<div class="container-fluid">
    <!-- <app-page-title title="Orders" [breadcrumbItems]="breadCrumbItems"></app-page-title> -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <div class="search-box me-2 mb-2 d-inline-block">
                                <div class="position-relative">
                                    <input type="text" class="form-control" autocomplete="off" id="searchTableList"
                                        placeholder="Search..."  [(ngModel)]="searchInput" (input)="onSearch()">
                                    <i class="bx bx-search-alt search-icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8" *ngIf="userRole === 'super-admin' || userRole === 'user'">
                            <div class="text-sm-end">
                                <button type="button" class="btn btn-primary btn-rounded mb-2 me-2"
                                    (click)="routeToAddSite()"><i class="mdi mdi-plus mr-1"></i>
                                    Add Site</button>
                                        
                                      
                            </div>
                        </div><!-- end col-->
                    </div>
                    <!-- Table data -->
                    <div class="table-responsive mb-0">
                        <table class="table align-middle table-nowrap dt-responsive nowrap w-100"
                            id="order-list">
                            <thead class="table-light">
                                <tr>
                                    <th class="align-middle">Site ID</th>
                                    <th class="align-middle">Site Name</th>
                                    <th class="align-middle">Site Status</th>
                                    <th class="align-middle">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of sitesList; let i = index;" id="o_{{data.id}}">
                                    <td>
                                        <a href="javascript: void(0);" class="text-body fw-bold">{{data.id}}</a>
                                    </td>
                                    <td>{{data.name}}</td>
                                    <td>
                                        {{data.type | siteTypePipe}}
                                    </td>
                                    <td>
                                        <div class="d-flex gap-3">
                                            <span class="text-success pointer"><i class="mdi mdi-pencil font-size-18"
                                                    (click)="routeToEditSite(data.id)"></i></span>
                                            <span class="text-danger pointer" (click)="confirm(i)"><i class="mdi mdi-delete font-size-18"></i></span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- end table -->
                    <ul class="pagination pagination-rounded justify-content-end mb-2">
                        <pagination [totalItems]="total" [(ngModel)]="currentPage" [itemsPerPage]="perPage" (pageChanged)="pageChanged($event)">
                        </pagination>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>