<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-start justify-content-between">
            <div class="d-flex align-items-start">
                <i class="bx bx-left-arrow-alt font-size-18 pointer" *ngIf="showListStaff"
                    (click)="routeToListStaff()"></i>
                <h4 class="card-title mb-4">Staff Details</h4>
            </div>
            <div class="text-end">
                <button type="button" class="btn btn-success mb-2 me-2" *ngIf="showEditStaff"
                    (click)="routeToEditStaff()">
                    <i class="mdi mdi-pencil mr-1"></i>
                    Edit
                </button>
                <button type="button" class="btn btn-danger mb-2 me-2" *ngIf="showDeleteStaff"
                    (click)="deleteStaff()">
                    <i class="mdi mdi-delete mr-1"></i>
                    Delete
                </button>
            </div>
        </div>
        <!-- Form Start -->
        <form [formGroup]="staffForm" class="custom-form">
            <!-- First Row --><h6 class="mb-2">Staff Details</h6>
            <!-- Forth Row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" formControlName="firstName">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" formControlName="lastName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" formControlName="email">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="mobile">Mobile</label>
                        <input type="text" class="form-control" formControlName="mobile" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="username">User Name</label>
                        <input autocomplete="off" type="text" class="form-control" formControlName="username"
                            autocomplete="off" name="randomName1">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" formControlName="password" />
                    </div>
                </div>
            <h6 class="mb-2" *ngIf="showListAccount">Account Details</h6>
            <div class="row" *ngIf="showListAccount">
                <div class="col-md-6 mb-4">
                    <label for="accountName">Account Name</label>
                    <input type="text" class="form-control" formControlName="account">
                </div>
            </div>
            <!-- Second Row -->
            <h6 class="mb-2" *ngIf="showListSite">Site Details</h6>
            <!-- Site Name -->
            <div class="row" *ngIf="showListSite">
                <label for="deviceStatus">Site Name(s)</label>
                <div class="col-md-6 mb-4">
                    <ng-select [items]="this.staffForm.get('site').value" bindLabel="name" [clearable]="false"
                        bindValue="id" [placeholder]="'Site'" [multiple]="true" formControlName="site">
                    </ng-select>
                </div>
            </div>
            <!--Third Row -->
            <h6 class="mb-2" *ngIf="showListRole">Role Details</h6>
            <!-- Site Name -->
            <div class="row" *ngIf="showListRole">
                <div class="col-md-6 mb-4">
                    <label for="deviceStatus">Role Name</label>
                    <input type="text" class="form-control" formControlName="role">
                </div>
            </div>
            
            </div>
        </form>
    </div>
</div>