<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="assets/images/logo.svg" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/logo-dark.png" alt="" height="17">
                    </span>
                </a>
                <a class="logo logo-light">
                    <span class="logo-sm">
                        <img src="assets/images/logo-light.svg" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/logo-light.png" alt="" height="19">
                    </span>
                </a>
            </div>
            <div class=" d-inline-block" *ngIf="showListAccount">
                <div class="col-lg-15 mt-3 ms-2">
                    <div class="me-2 mb-2 d-inline-block">
                        <div class="position-relative">
                            <ng-select #accList [items]="accountList" [searchable]="false"
                                [ngModel]="accountList[0]?.account?.id" bindLabel="account.name" bindValue="account.id"
                                [clearable]="false" placeholder="Select Account"
                                (change)="changeSitesData($event?.account?.id)" typeToSearchText="Type to search">
                                <ng-template ng-header-tmp>
                                    <div class="form-group has-feedback">
                                        <input style="width: 100%;line-height: 24px" type="text" class="form-control"
                                            placeholder="Search" (input)="accList.filter($event.target.value)" />
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-inline-block" *ngIf="showListSite && sitesList.length > 1">
                <div class="col-lg-15 mt-3 ms-2">
                    <div class="me-2 mb-2 d-inline-block">
                        <div class="position-relative">
                            <ng-select #sList [items]="sitesList" [searchable]="false" [ngModel]="sitesList[0]?.id"
                                bindLabel="name" bindValue="id" [clearable]="false" placeholder="Select Site"
                                (change)="listOrders($event?.id)" typeToSearchText="Type to search">
                                <ng-template ng-header-tmp>
                                    <div class="form-group has-feedback">
                                        <input style="width: 100%;line-height: 24px" type="text" class="form-control"
                                            placeholder="Search" (input)="sList.filter($event.target.value)" />
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-inline-block">
                <div class="col-lg-10 mt-4 ms-2">
                    <div class="search-box me-2 d-inline-block">
                        <div class="position-relative">
                            <div class="form-check form-radio-outline form-radio-primary">
                                <input class="form-check-input" type="radio" name="orderType" id="formRadioFood"
                                    value="1" (change)="onOrderTypeChange(1)" checked [disabled]="!sitesList.length">
                                <label class="form-check-label" for="formRadioFood">
                                    Food
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-inline-block">
                <div class="col-lg-10 mt-4 ms-2">
                    <div class="search-box me-2 d-inline-block">
                        <div class="position-relative">
                            <div class="form-check form-radio-outline form-radio-success">
                                <input class="form-check-input" type="radio" name="orderType" id="formRadioAmenities"
                                    value="2" (change)="onOrderTypeChange(2)" [disabled]="!sitesList.length">
                                <label class="form-check-label" for="formRadioAmenities">
                                    Amenities
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" d-inline-block">
                <div class="col-lg-15 mt-3 ms-2">
                    <div class="me-2 mb-2 d-inline-block">
                        <div class="position-relative">
                            <ng-select [items]="categoryTypeOptions" [searchable]="false" bindLabel="label"
                                bindValue="value" [clearable]="false" placeholder="Select Type"
                                [ngModel]="selectedCategoryType" (change)="changeType($event.value)">
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" d-inline-block">
                <div class="col-lg-10 mt-3 ms-2">
                    <div class="search-box me-2 mb-2 d-inline-block">
                        <div class="position-relative">
                            <input type="search" class="form-control" autocomplete="off" id="searchTableList"
                                placeholder="Search..." [(ngModel)]="search" (input)="onSearch()" autofocus>
                            <i class="bx bx-search-alt search-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>