<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="assets/images/logo.svg" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/logo-dark.png" alt="" height="17">
                    </span>
                </a>

                <a class="logo logo-light">
                    <span class="logo-sm">
                        <img src="assets/images/logo-light.svg" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/logo-light.png" alt="" height="19">
                    </span>
                </a>
            </div>
            
            <div class=" d-inline-block">
                <div class="col-lg-15 mt-3 ms-2">
                    <div class="search-box me-2 mb-2 d-inline-block">
                        <div class="position-relative">
                            <ng-select *ngIf="showListAccount" [ngModel]="accountList[0]?.id" [items]="accountList"
                                bindLabel="name" [clearable]="false" bindValue="id" [placeholder]="'Account'"
                                (change)="listSites($event)" style="width: 190px;"></ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" d-inline-block">
                <div class="col-lg-15 mt-3 ms-2">
                    <div class="search-box me-2 mb-2 d-inline-block">
                        <div class="position-relative">
                        <ng-select [items]="sitesList" bindLabel="name" [clearable]="false" bindValue="id" [ngModel]="sitesList[0]?.id"
                            (change)="listCategory($event?.id)" [placeholder]="'Site'" style="width: 190px;"></ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-inline-block">
                <div class="col-lg-10 mt-4 ms-2">
                    <div class="search-box me-2 d-inline-block">
                        <div class="position-relative">
                            <div class="form-check form-radio-outline form-radio-primary">
                                <input class="form-check-input" type="radio" name="orderType" id="formRadioFood" value="1"
                                    (change)="onOrderTypeChange(1)" checked>
                                <label class="form-check-label" for="formRadioFood">
                                    Food
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="d-inline-block">
                <div class="col-lg-10 mt-4 ms-2">
                    <div class="search-box me-2 d-inline-block">
                        <div class="position-relative">
                            <div class="form-check form-radio-outline form-radio-success">
                                <input class="form-check-input" type="radio" name="orderType" id="formRadioAmenities" value="2"
                                    (change)="onOrderTypeChange(2)">
                                <label class="form-check-label" for="formRadioAmenities">
                                    Amenities
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" d-inline-block">
                <div class="col-lg-10 mt-3 ms-2">
                    <div class="search-box me-2 mb-2 d-inline-block">
                        <div class="position-relative">
                            <input type="search" class="form-control" autocomplete="off" id="searchTableList"
                                placeholder="Search..." [(ngModel)]="search" (input)="onSearch()" autofocus>
                            <i class="bx bx-search-alt search-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
       


        </div>
    </div>
</header>