<ng-template #contentTemplate>
    <div id="sidebar-menu">
        <ul class="metismenu list-unstyled" id="side-menu" #sideMenu>
            <ng-container *ngFor="let item of categoryList">
                <li>
                    <a class="side-nav-link-ref">
                        <span class="rounded-box" (click)="listProducts(item.products)">{{ item.name }}</span>
                    </a>
                </li>
            </ng-container>
        </ul>
    </div>
</ng-template>
<div class="vertical-menu">
    <ngx-simplebar class="h-100" #componentRef>
        <div *ngIf="!isCondensed">
            <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
        </div>
        <div *ngIf="isCondensed">
            <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
        </div>
    </ngx-simplebar>
</div>