.label-text{
    height: 100%;
    font-size: 1rem;
}

.disabled {
    opacity: 0.25; 
    pointer-events: none; 
  }

.border-blue {
    border: 3px solid #007bff  !important;
    background-color: #e3f2fd !important;
}

.border-yellow {
    border: 3px solid #ffc107 !important;
    background-color: #fff3cd !important;
}

.border-green {
    border: 3px solid #28a745 !important;
    background-color: #d4edda !important;
}
  
.text-black {
    color: black !important; 
}

.btn-view {
    color: #007bff; 
}

.btn-assign {
    color: #28a745; 
}

.btn-cancel {
    color: #dc3545; 
}

.pointer:hover {
    opacity: 0.8; 
}