
<div id="layout-wrapper">
    <!-- <app-topbar (settingsButtonClicked)="onSettingsButtonClicked()" (mobileMenuButtonClicked)="onToggleMobileMenu()">
    </app-topbar> -->
    <app-kanban-header></app-kanban-header>
    <div class="page-content">
        <div class="container-fluid">
    <div class="row mt-8">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                  
    
                    <h4 class="card-title mb-4">New</h4>
                    <div id="upcoming-task" class="pb-1 task-list" dndDropzone dndEffectAllowed="move" (dndDrop)="onDrop($event, newOrders,'Progress-task')"
                       >
                        <div class="dndPlaceholder" dndPlaceholderRef></div>
                        <ng-container *ngFor="let order of newOrders; let i = index">
                            <div [dndDraggable]="order" dndEffectAllowed="move" (dndMoved)="onDragged(order, newOrders)">
                                <ng-template [ngTemplateOutlet]="TaskContent" [ngTemplateOutletContext]="{order:order, index: i}">
                                </ng-template>
                            </div>
                        </ng-container>
                        
                      
                    </div>
                </div>
            </div>
        </div>

<div class="col-lg-4">
    <div class="card">
        <div class="card-body">
            

            <h4 class="card-title mb-4">In Progress</h4>
            <div id="upcoming-task" class="pb-1 task-list" dndDropzone dndEffectAllowed="move" (dndDrop)="onDrop($event, inProgresOrders,'Progress-task')">
                <div class="dndPlaceholder" dndPlaceholderRef></div>
                <ng-container *ngFor="let order of inProgresOrders; let i = index">
                    <div [dndDraggable]="order" dndEffectAllowed="move" (dndMoved)="onDragged(order, inProgresOrders)">
                        <ng-template [ngTemplateOutlet]="TaskContent"
                            [ngTemplateOutletContext]="{order:order, index: i}">
                        </ng-template>
                    </div>
                </ng-container>


            </div>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="card">
        <div class="card-body">
          

            <h4 class="card-title mb-4">Completed</h4>
            <div id="upcoming-task" class="pb-1 task-list" dndDropzone dndEffectAllowed="move" (dndDrop)="onDrop($event, completedOrders,'Progress-task')">
                <div class="dndPlaceholder" dndPlaceholderRef></div>
                <ng-container *ngFor="let order of completedOrders; let i = index">
                    <div [dndDraggable]="order" dndEffectAllowed="move" (dndMoved)="onDragged(order, completedOrders)">
                        <ng-template [ngTemplateOutlet]="TaskContent"
                            [ngTemplateOutletContext]="{order:order, index: i}">
                        </ng-template>
                    </div>
                </ng-container>


            </div>
        </div>
    </div>
</div>        <!-- end col -->
    
    </div>
        </div></div>
    </div>

    <!-- Task  -->
    <!-- Task  -->
    <ng-template #TaskContent let-order="order" let-i="index">
        <div class="card task-box">
            <div class="card-body d-flex flex-column justify-content-between">
                <div>
                    <div class="dropdown float-end" dropdown>
                        <a href="javascript:void(0);" class="dropdown-toggle arrow-none" data-bs-toggle="dropdown"
                            aria-expanded="false" dropdownToggle>
                            <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                            <a class="dropdown-item edittask-details" href="javascript:void(0);" id="taskedit"
                                data-id="#uptask-2" (click)="updateTask(i)">Edit</a>
                            <a class="dropdown-item deletetask" href="javascript:void(0);" data-id="#uptask-2"
                                (click)="delete($event)">Delete</a>
                        </div>
                    </div>
                    <div class="float-end ms-2">
                        <div class="avatar-group-item">
                            <a href="javascript: void(0);" class="d-inline-block">
                                <!-- <img src="{{ order.images[0] }}" class="rounded-circle avatar-xs" alt=""> -->
                            </a>
                        </div>
                    </div>
                    <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark">{{ order.orderId }}</a></h5>
                    <span class="badge rounded-pill badge-soft-secondary font-size-12 mb-4">
                        Room: 123
                    </span>
                </div>
                <div class="d-flex justify-content-between align-items-end">
                    <div class="text-start">
                        <p class="mb-0">23-May-2024 12:23 PM</p>
                        <p class="text-muted mb-0">6 min ago</p>
                    </div>
                    <div class="text-end">
                        <h5 class="font-size-15 mb-1">$ 20</h5>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>