.label-text{
    height: 100%;
    font-size: 1rem;
}

.disabled {
    opacity: 0.25; 
    pointer-events: none; 
  }

.border-blue {
    border: 3px solid #007bff  !important;
    background-color: #e3f2fd !important;
}

.border-yellow {
    border: 3px solid #ffc107 !important;
    background-color: #fff3cd !important;
}

.border-green {
    border: 3px solid #28a745 !important;
    background-color: #d4edda !important;
}
  
.text-black {
    color: black !important; 
}

.btn-view {
    color: #007bff; 
}

.btn-assign {
    color: #28a745; 
}

.btn-cancel {
    color: #dc3545; 
}

.pointer:hover {
    opacity: 0.8; 
}

.form-select {
    border-radius: 22px;
}

.table-responsive {
  height: 84%;
  overflow-y: scroll;
  scrollbar-color: #556080; 
}

.table-fixed-header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table-light {
  @extend .table-fixed-header;
}

.table-responsive::-webkit-scrollbar {
  width: 5px; 
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #556080; 
  border-radius: 10px;
}

.table-responsive::-webkit-scrollbar-track {
  background-color: transparent; 
}


.ng-dropdown-panel .scroll-host::-webkit-scrollbar {
  width: 5px; 
}

.ng-dropdown-panel .scroll-host::-webkit-scrollbar-thumb {
  background-color: #556080; 
  border-radius: 10px;
}

.ng-dropdown-panel .scroll-host::-webkit-scrollbar-track {
  background-color: transparent; 
}


.ng-dropdown-panel .scroll-host {
  background: #2a3042;
  overflow: hidden;
  overflow-y: hidden;
  position: relative;
  display: block;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: #556080; 
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: #556080;
  color: #a6b0cf;
}

.ng-select.ng-select-single .ng-select-container {
  height: 36px;
  border-radius: 22px;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: #a6b0cf;
}

