<div class="row mb-4 border-bottom">
    <div class="col-md-2 col-4 ">
        <img src="assets/images/small/img-2.jpg" alt="Product Image" class="img-fluid rounded-circle"
            style="width: 75px; height: 75px; object-fit: cover;">
    </div>
    <div class="col-md-10 col-8 mb-2">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.description }}
        </p>
        <div class="d-flex justify-content-between align-items-center">
            <span class="text-muted">${{ product.price }}</span>
            <ng-container *ngIf="!isAddedinOrder(product.id); else qtySelector">
                <button class="btn btn-primary" (click)="addProductToOrder(product)">Add to Cart</button>
            </ng-container>
            <ng-template #qtySelector>
                <div class="me-3" style="width: 120px;">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-primary"
                                (click)="calculateQty('1', product.id)">+</button>
                        </div>
                        <input name="demo_vertical" value="{{addedProducts[product.id]}}" type="text"
                            class="form-control text-center" min="0" readonly>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary"
                                (click)="calculateQty('0', product.id)">-</button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>