.form-select {
    border-radius: 22px; /* Border radius similar to btn-rounded class*/
}

.table-responsive {
  max-height: 400px;
  min-width: 400px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #556080; 
}

.table-responsive::-webkit-scrollbar {
  width: 5px; 
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #556080; 
  border-radius: 10px;
}

.table-responsive::-webkit-scrollbar-track {
  background-color: transparent; 
}

.your-custom-title-class {
  color: #ff0000; /* Change the color to your desired color */
}