<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-start justify-content-start">
            <i class="bx bx-left-arrow-alt font-size-18 pointer" *ngIf="showListMenu" (click)="routeToListMenu()"></i>
            <h4 class="card-title mb-4">Add Menu</h4>
        </div>
        <form (ngSubmit)="addMenu()" [formGroup]="menuForm" class="custom-form">
            <h6 class="mb-2">Menu Details</h6>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <label for="menuName">Name</label>
                    <input type="text" class="form-control"
                        [ngClass]="{ 'form-error':showError('menuName'),'form-success':showSuccess('menuName') }"
                        formControlName="menuName">
                    <div *ngIf="formTouched('menuName')">
                        <div *ngIf="isError('menuName','required')" class="text-danger">
                            {{errorMessage('menuName','required')}}
                        </div>
                        <div *ngIf="isError('menuName','pattern')" class="text-danger">
                            {{errorMessage('menuName','pattern')}} </div>
                        <div *ngIf="isError('menuName','maxlength')" class="text-danger">
                            {{errorMessage('menuName','maxlength')}} </div>
                        <div *ngIf="isError('menuName','minlength')" class="text-danger">
                            {{errorMessage('menuName','minlength')}} </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <label for="menuDesc">Description</label>
                    <input type="text" class="form-control"
                        [ngClass]="{ 'form-error':showError('menuDesc'),'form-success':showSuccess('menuDesc') }"
                        formControlName="menuDesc">
                    <div *ngIf="formTouched('menuDesc')">
                        <div *ngIf="isError('menuDesc','pattern')" class="text-danger">
                            {{errorMessage('menuDesc','pattern')}} </div>
                        <div *ngIf="isError('menuDesc','maxlength')" class="text-danger">
                            {{errorMessage('menuDesc','maxlength')}} </div>
                        <div *ngIf="isError('menuDesc','minlength')" class="text-danger">
                            {{errorMessage('menuDesc','minlength')}} </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <label for="siteType">Type</label>
                    <ng-select [items]="menuTypes" bindLabel="label" [clearable]="false" bindValue="id"
                        formControlName="type" [placeholder]="'Type'"></ng-select>
                </div>
                <div class="col-md-6 mb-4">
                    <label for="menuStatus">Status</label>
                    <div class="form-check form-switch form-switch-lg mb-3">
                        <input class="form-check-input ml-2" type="checkbox" id="SwitchCheckSizelg" (click)="toggle()"
                            formControlName="status" [checked]="this.menuForm.get('status').value">
                        <label class="form-check-label" for="SwitchCheckSizelg">{{this.menuForm.get('status').value ?
                            'Active' : 'In
                            Active'}}</label>
                    </div>
                </div>
            </div>
            <div formGroupName="scheduleData">
                <h6 class="mb-2">Schedule Details</h6>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <label for="startDate">Start Date</label>
                        <div class="input-group clockpicker">
                            <input ngbDatepicker class="form-control" placeholder="Choose start date"
                                #std="ngbDatepicker" formControlName="startDate" (click)="std.toggle()"
                                [minDate]="startMinDate" (dateSelect)="startDateSellected($event)" />
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <label for="menuSeq">End Date</label>
                        <div class="input-group clockpicker">
                            <input ngbDatepicker class="form-control" placeholder="Choose end date" #edt="ngbDatepicker"
                                formControlName="endDate" (click)="edt.toggle()" [minDate]="endMinDate" />
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-5 mb-4">
                        <label for="StartTime">Start Time</label>
                    </div>
                    <div class="col-md-5 mb-4">
                        <label for="endTime">End Time</label>
                    </div>
                </div>
                <!--SUNDAY-->
                <div class="row">
                    <div class="col-md-2">
                        <label for="forSunday">Sunday</label>
                    </div>
                    <div class="col-md-5 mb-4">
                        <ngb-timepicker [meridian]="meridian" formControlName="sunday_startTime" />
                    </div>
                    <div class="col-md-5 mb-4">
                        <ngb-timepicker [meridian]="meridian" formControlName="sunday_endTime" />
                    </div>
                </div>
                <!--MONDAY-->
                <div class="row">
                    <div class="col-md-2">
                        <label for="forMonday">Monday</label>
                    </div>
                    <div class="col-md-5 mb-4">
                        <ngb-timepicker [meridian]="meridian" formControlName="monday_startTime" />
                    </div>
                    <div class="col-md-5 mb-4">
                        <ngb-timepicker [meridian]="meridian" formControlName="monday_endTime" />
                    </div>
                </div>
                <!--TUESDAY-->
                <div class="row">
                    <div class="col-md-2">
                        <label for="forTuesday">Tuesday</label>
                    </div>
                    <div class="col-md-5 mb-4">
                        <ngb-timepicker [meridian]="meridian" formControlName="tuesday_startTime" />
                    </div>
                    <div class="col-md-5 mb-4">
                        <ngb-timepicker [meridian]="meridian" formControlName="tuesday_endTime" />
                    </div>
                </div>
                <!--WEDNESDAY-->
                <div class="row">
                    <div class="col-md-2">
                        <label for="forWednesday">Wednesday</label>
                    </div>
                    <div class="col-md-5 mb-4">
                        <ngb-timepicker [meridian]="meridian" formControlName="wednesday_startTime" />
                    </div>
                    <div class="col-md-5 mb-4">
                        <ngb-timepicker [meridian]="meridian" formControlName="wednesday_endTime" />
                    </div>
                </div>
                <!--THURSDAY-->
                <div class="row">
                    <div class="col-md-2">
                        <label for="forThursday">Thursday</label>
                    </div>
                    <div class="col-md-5 mb-4">
                        <ngb-timepicker [meridian]="meridian" formControlName="thursday_startTime" />
                    </div>
                    <div class="col-md-5 mb-4">
                        <ngb-timepicker [meridian]="meridian" formControlName="thursday_endTime" />
                    </div>
                </div>
                <!--FRIDAY-->
                <div class="row">
                    <div class="col-md-2">
                        <label for="forFriday">Friday</label>
                    </div>
                    <div class="col-md-5 mb-4">
                        <ngb-timepicker [meridian]="meridian" formControlName="friday_startTime" />

                    </div>
                    <div class="col-md-5 mb-4">
                        <ngb-timepicker [meridian]="meridian" formControlName="friday_endTime" />
                    </div>
                </div>
                <!--SATURDAY-->
                <div class="row">
                    <div class="col-md-2">
                        <label for="forSaturday">Saturday</label>
                    </div>
                    <div class="col-md-5 mb-4">
                        <ngb-timepicker [meridian]="meridian" formControlName="saturday_startTime" />
                    </div>
                    <div class="col-md-5 mb-4">
                        <ngb-timepicker [meridian]="meridian" formControlName="saturday_endTime" />
                    </div>
                </div>
            </div>
            <h6 class="mb-2" *ngIf="showListAccount">Account Details</h6>
            <div class="row" *ngIf="showListAccount">
                <div class="col-md-6 mb-4">
                    <div class="col-sm-12" *ngIf="showListAccount">
                        <ng-select [ngModel]="accountList[0]?.account?.id" [items]="accountList"
                            bindLabel="account.name" [clearable]="false" bindValue="account.id"
                            formControlName="account" (change)="changeAccountData($event.account.id)"
                            [placeholder]="'Account'"></ng-select>
                    </div>
                </div>
            </div>
            <h6 class="mb-2" *ngIf="showListSite">Site Details</h6>
            <div class="row" *ngIf="showListSite">
                <div class="col-md-6 mb-4">
                    <ng-select [ngModel]="siteList[0]?.id" [items]="siteList" bindLabel="name" [clearable]="false"
                        bindValue="id" (change)="changeSiteData($event.id)" formControlName="site"
                        [placeholder]="'Site'">
                    </ng-select>
                </div>
            </div>
            <h6 class="mb-2" *ngIf="showListCategory">Product Details</h6>
            <div class="row">
                <div class="col-md-6 mb-4" *ngIf="showListCategory">
                    <ng-select class="text-color" [items]="categoryProductDropdownList" [multiple]="true"
                        bindLabel="productName" groupBy="categoryName" [selectableGroup]="true"
                        [selectableGroupAsModel]="false" [closeOnSelect]="false" formControlName="menuItemsData"
                        [placeholder]="'Select Products'">
                    </ng-select>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary w-md" [disabled]="menuForm.invalid ">Submit</button>
            </div>
        </form>
    </div>
</div>