<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class=" row col-sm-6">
                            <div class="col-sm-4">
                                <div class="search-box me-2 mb-2 d-inline-block">
                                    <div class="position-relative">
                                        <input type="search" class="form-control" autocomplete="off"
                                            id="searchTableList" placeholder="Search..." [(ngModel)]="searchInput"
                                            (input)="onSearch()">
                                        <i class="bx bx-search-alt search-icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4" *ngIf="showListAccount">
                                <ng-select #select [items]="accountList" [searchable]="false"
                                    [ngModel]="accountList[0]?.account?.id" bindLabel="account.name"
                                    bindValue="account.id" [clearable]="false"
                                    (change)="changeAccountData($event?.account?.id)" typeToSearchText="Type to search">
                                    <ng-template ng-header-tmp>
                                        <div class="form-group has-feedback">
                                            <input style="width: 100%;line-height: 24px" type="text"
                                                class="form-control" placeholder="Search"
                                                (input)="select.filter($event.target.value)" />
                                        </div>
                                    </ng-template>
                                </ng-select>
                            </div>
                            <div class="col-sm-4" *ngIf="showListSite && sitesList.length > 1">
                                <ng-select #select1 [items]="sitesList" [searchable]="false"
                                    [ngModel]="sitesList[0]?.id" bindLabel="name" bindValue="id" [clearable]="false"
                                    (change)="changeSitesData($event?.id)" typeToSearchText="Type to search">
                                    <ng-template ng-header-tmp>
                                        <div class="form-group has-feedback">
                                            <input style="width: 100%;line-height: 24px" type="text"
                                                class="form-control" placeholder="Search"
                                                (input)="select1.filter($event.target.value)" />
                                        </div>
                                    </ng-template>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-sm-6" *ngIf="showAddEvent">
                            <div class="text-sm-end">
                                <button type="button" class="btn btn-primary mb-2 me-2" (click)="routeToAddEvent()"><i
                                        class="mdi mdi-plus mr-1"></i>
                                    Add Event</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive mb-0">
                        <div class="card-row">
                            <ng-container *ngIf="eventList.length > 0; else noData">
                                <div class="col-12">
                                    <div class="card-row">
                                        <div class="site-cal-row" *ngFor="let data of eventList; let i = index;">
                                            <div class="card site-card  pointer">
                                                <div class="icon-container text-center"
                                                    (click)="routeToViewEvent(data.id)">
                                                    <i class="bx"
                                                        [ngClass]="{'bx-home': data.inHouse === 1, 'bxs-ship': data.inHouse === 2}"></i>
                                                </div>
                                                <div class="site-card-body text-center">
                                                    <h4 class="card-title mt-2 "><a
                                                            class="text-body fw-bold site-name-text">{{data.name}}</a>
                                                    </h4>
                                                    <p class="card-text site-name-text">{{data.description}}</p>
                                                    <p class="card-text">{{data.inHouse | eventType}}</p>
                                                    <div class="d-flex justify-content-center gap-3 mb-3">
                                                        <span class="text-success pointer" *ngIf="showEditEvent"><i
                                                                class="mdi mdi-pencil font-size-24"
                                                                (click)="routeToEditEvent(data.id)"></i></span>
                                                        <span class="text-danger pointer" *ngIf="showDeleteEvent"
                                                            (click)="openDeleteConfirmDialog(data.id)"><i
                                                                class="mdi mdi-delete font-size-24"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-template #noData>
                                <div class="col-12 text-center mt-5">
                                    <p>No Data Found</p>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                    <ul class="pagination pagination-rounded justify-content-end mb-2">
                        <pagination [totalItems]="total" [(ngModel)]="currentPage" [itemsPerPage]="perPage"
                            (pageChanged)="pageChanged($event)">
                        </pagination>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>