<div id="layout-wrapper">

    <app-order-header></app-order-header>
    <app-order-sidebar></app-order-sidebar>
    <div class="main-content">
        <div class="order-list-page">
            <div>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="card">
                            <div class="card-body">
                                <!-- Show List Of Products -->
                                <div class="row container-fluid">
                                    <div class="col-md-6 col-xl-3"
                                        *ngFor="let product of filteredProducts; let i = index">
                                        <div class="card mb-4">
                                            <div class="card-body">
                                                <div class="product-img position-relative">
                                                    <img src="assets/images/product/img-2.png" alt=""
                                                        class="img-fluid mx-auto d-block">
                                                </div>
                                                <div class=" row mt-4 d-flex align-items-center">
                                                    <div class="flex-grow-1 text-center">
                                                        <h5 class="mb-1 text-truncate">{{product.name}}</h5>
                                                    </div>
                                                    <div class="mt-2">
                                                        <div class="text-center">
                                                            <h5><b>{{currency}} {{product.price}}</b></h5>
                                                        </div>
                                                        <div class="text-center">
                                                            <button class="btn btn-soft-primary w-100"
                                                                (click)="addProductToOrder(product)"
                                                                [disabled]="isAddedinOrder(product.id)"
                                                                type="submit">Add</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center" *ngIf="filteredProducts?.length == 0">
                                    <span class="text-center">No Product to display</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <!-- Show Order Details-->
                                    <div class="card1">
                                        <div class="card-body1">
                                            <div class="table-container">
                                                <table class="table table-centered mb-0 table-nowrap align-middle">
                                                    <thead class="table-light">
                                                        <tr p>
                                                            <th>Product</th>
                                                            <th>Price</th>
                                                            <th>Quantity</th>
                                                            <th colspan="2">Total</th>
                                                        </tr>
                                                        <tr *ngIf="order.length == 0">
                                                            <th class="align-middle" style="text-align: center;"
                                                                colspan="4">No product selected
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="product"
                                                            *ngFor="let product of order; let i = index">
                                                            <td>
                                                                <h5 class="font-size-14 text-truncate"><a
                                                                        class="text-dark">{{
                                                                        product?.name
                                                                        }}</a></h5>
                                                            </td>
                                                            <td>{{currency}} <span class="product-price"> {{
                                                                    product?.price
                                                                    }}</span>
                                                            </td>
                                                            <td>
                                                                <div class="me-3" style="width: 120px;">
                                                                    <div class="input-group">
                                                                        <div class="input-group-prepend"><button
                                                                                type="button" class="btn btn-primary"
                                                                                (click)="calculateQty('1',product?.quantity , i)">+</button>
                                                                        </div>
                                                                        <input name="demo_vertical"
                                                                            value="{{product.quantity}}" type="text"
                                                                            class="form-control text-center" min="0"
                                                                            readonly>
                                                                        <div class="input-group-append"><button
                                                                                type="button" class="btn btn-primary"
                                                                                (click)="calculateQty('0', product?.quantity , i)">-</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>{{currency}} <span class="product-line-price">{{
                                                                    product?.total
                                                                    }}</span>
                                                            </td>
                                                            <td>
                                                                <div class="d-inline-block" data-bs-toggle="tooltip"
                                                                    data-bs-placement="top" title="Remove">
                                                                    <a class="action-icon text-danger"
                                                                        (click)="delete(i)"> <i
                                                                            class="mdi mdi-trash-can font-size-18"></i></a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="mt-2 card-footer">
                                            <div class="row col-12">
                                                <div class="col-6 mt-2">
                                                    <div class="col-mt-6 me-2 d-inline-block" *ngIf="showListRoom">
                                                        <div class="position-relative">
                                                            <div class="form-check form-radio-outline form-radio-primary">
                                                                <input class="form-check-input" type="radio" name="orderType1" id="formRoomRadio" value="1" (change)="onChangeRadio(1)" checked>
                                                                <label class="form-check-label" for="formRoomRadio">
                                                                    Room
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-mt-6 me-2 d-inline-block" *ngIf="showListTable">
                                                        <div class="position-relative">
                                                            <div class="form-check form-radio-outline form-radio-success">
                                                                <input class="form-check-input" type="radio" name="orderType1" id="formTableRadio" value="2" (change)="onChangeRadio(2)">
                                                                <label class="form-check-label" for="formTableRadio">
                                                                    Table
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="col-sm-12" *ngIf="showRoomDropdown">
                                                        <ng-select #rList [items]="rooms" [searchable]="false" bindLabel="name" bindValue="id" [clearable]="false" placeholder="Select Room" (change)="updateRoom($event)" typeToSearchText="Type to search">
                                                            <ng-template ng-header-tmp>
                                                                <div class="form-group has-feedback">
                                                                    <input style="width: 100%;line-height: 24px" type="text" class="form-control" placeholder="Search" (input)="rList.filter($event.target.value)" />
                                                                </div>
                                                            </ng-template>
                                                        </ng-select>
                                                    </div>
                                                    <div class="col-sm-12" *ngIf="showTableDropdown">
                                                        <ng-select #tList [items]="tables" [searchable]="false" bindLabel="name" bindValue="id" [clearable]="false" placeholder="Select Table" (change)="updateTable($event)" typeToSearchText="Type to search">
                                                            <ng-template ng-header-tmp>
                                                                <div class="form-group has-feedback">
                                                                    <input style="width: 100%;line-height: 24px" type="text" class="form-control" placeholder="Search" (input)="tList.filter($event.target.value)" />
                                                                </div>
                                                            </ng-template>
                                                        </ng-select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-4">
                                                <div class="table-responsive">
                                                    <table class="table table-centered table-nowrap" style="bottom: 50px; left: 0px;">
                                                        <tbody>
                                                            <tr>
                                                                <td colspan="2">
                                                                    <h6 class="m-0">SGST:</h6>
                                                                </td>
                                                                <td class="align-right"> {{currency}} {{pricing?.sgstAmount ?? 0}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">
                                                                    <h6 class="m-0">CGST:</h6>
                                                                </td>
                                                                <td class="align-right">{{currency}} {{pricing?.cgstAmount ?? 0}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">
                                                                    <h6 class="m-0">Service Charge:</h6>
                                                                </td>
                                                                <td class="align-right">{{currency}} {{pricing?.serviceTaxAmount ?? 0}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">
                                                                    <h6 class="m-0">Item Total:</h6>
                                                                </td>
                                                                <td class="align-right">{{currency}} {{pricing?.totalAmountOfProduct ?? 0}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-sm-6">
                                                    <h6 class="mt-2">Sub Total: <span class="text-muted me-2"></span><b>{{currency}} {{pricing?.totalAmountWithTaxes ?? 0}}</b></h6>
                                                </div>
                                                <div class="col-sm-6 d-flex justify-content-end align-items-center">
                                                    <button type="button" class="btn btn-danger me-2" [disabled]="order?.length == 0" (click)="clearOrder()">Clear</button>
                                                    <button type="submit" class="btn btn-primary" [disabled]="order?.length == 0 || disableSaveButton" (click)="addOrder()">
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-rightsidebar></app-rightsidebar>