<div id="layout-wrapper">
    <app-topbar (settingsButtonClicked)="onSettingsButtonClicked()" (mobileMenuButtonClicked)="onToggleMobileMenu()">
    </app-topbar>
    <app-order-sidebar></app-order-sidebar>


    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <!-- Show List Of Products -->
                    <div class="col-lg-4" *ngFor="let product of products">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="product-img position-relative">
                                    <div class="avatar-sm product-ribbon" *ngIf="product.discount">
                                        <span
                                            class="avatar-title rounded-circle bg-primary">{{product.discount}}%%</span>
                                    </div>
                                    <img src="{{product.images[0]}}" alt="" class="img-fluid mx-auto d-block">
                                </div>
                                <div class="mt-4 d-flex align-items-center">
                                    <div class="flex-grow-1">
                                        <h5 class="mb-1 text-truncate"><a href="javascript:void(0);"
                                                class="text-dark">{{product.name}}</a></h5>
                                        <div class="badge bg-success font-size-11"><i
                                                class="bx bxs-star me-1"></i>{{product.ratings}}</div>
                                    </div>
                                    <div class="flex-shrink-0">
                                        <h5 class="my-0"><b>${{product.oriRate}}</b></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-rightsidebar></app-rightsidebar>