.custom-form{
  height: 90%;
    overflow-y:scroll;
    overflow-x: hidden;
  }
  
  .custom-form::-webkit-scrollbar {
    width: 5px; 
  }
  
  .custom-form::-webkit-scrollbar-thumb {
    background-color: #556080; 
    border-radius: 10px;
  }
  
  .custom-form::-webkit-scrollbar-track {
    background-color: transparent; 
  }

  .form-switch-lg {
    padding-left: 3rem;
    min-height: 28px;
    line-height: 28px;
}

.card-body{
  height: calc(100vh - 180px);
}
