<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-start justify-content-start">
            <i class="bx bx-left-arrow-alt font-size-18 pointer" (click)="routeToListDevice()"></i>
            <h4 class="card-title mb-4">Edit Device</h4>
        </div>
        <form (ngSubmit)="updateDevice()" [formGroup]="deviceForm" class="custom-form">
            <h6 class="mb-2">Device Details</h6>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <label for="deviceName">Device Name</label>
                    <input type="text" class="form-control"
                        [ngClass]="{ 'form-error':showError('deviceName'),'form-success':showSuccess('deviceName') }"
                        formControlName="deviceName">
                    <div *ngIf="formTouched('deviceName')">
                        <div *ngIf="isError('deviceName','required')" class="text-danger">
                            {{errorMessage('deviceName','required')}}
                        </div>
                        <div *ngIf="isError('deviceName','pattern')" class="text-danger">
                            {{errorMessage('deviceName','pattern')}} </div>
                        <div *ngIf="isError('deviceName','maxlength')" class="text-danger">
                            {{errorMessage('deviceName','maxlength')}} </div>
                        <div *ngIf="isError('deviceName','minlength')" class="text-danger">
                            {{errorMessage('deviceName','minlength')}} </div>
                    </div>
                </div>
                <h6 class="mb-2" *ngIf="showListAccount">Account Details</h6>
                <div class="row" *ngIf="showListAccount">
                    <div class="col-md-6 mb-4">
                        <label for="accountName">Account Name</label>
                        <input type="text" class="form-control" formControlName="account">
                    </div>
                </div>
                <h6 class="mb-2" *ngIf="showListSite">Site Details</h6>
                <div class="row" *ngIf="showListSite">
                    <div class="col-md-6 mb-4">
                        <label for="siteName">Site Name</label>
                        <input type="text" class="form-control" formControlName="site">
                    </div>
                </div>
                <h6 class="mb-2" *ngIf="showListRooms">Room Details</h6>
                <div class="row" *ngIf="showListRooms">
                    <div class="col-md-6 mb-4">
                        <ng-select [items]="roomList" bindLabel="name" [clearable]="false" bindValue="id"
                            formControlName="room" [placeholder]="'Room'"></ng-select>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <label for="accountName">Device Status</label>
                    <div class="form-check form-switch form-switch-lg mb-3">
                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" (click)="toggle()"
                            formControlName="status" [checked]="this.deviceForm.get('status').value">
                        <label class="form-check-label" for="SwitchCheckSizelg">{{this.deviceForm.status ? 'Active' :
                            'In
                            Active'}}</label>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary w-md"
                    [disabled]="deviceForm.invalid || !deviceForm.dirty">Submit</button>
            </div>
        </form>
    </div>
</div>