@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";

.modal-holder {
  animation-name: example;
  animation-duration: 0.3s;
}

@keyframes example {
  0% {
    transform: scale(0.5)
  }

  100% {
    transform: scale(1)
  }
}

.carousel-item {
  transition: opacity 0.7s ease !important;
  position: absolute !important;
  display: block !important;
  opacity: 0;
}

.carousel-item.active {
  position: relative !important;
  opacity: 1;
}

ngx-dropzone{
  border:2px dashed var(--bs-border-color) !important;
}

ngx-dropzone-preview {
  max-width: none !important;
  justify-content: normal !important;
  height: 80px !important;
  min-height: 80px !important;
  background-image: none !important;
  img {
    opacity: 1 !important;
  }

  ngx-dropzone-label {
    position: unset !important;
  }
}

.site-stepper{
  .stepper-body{
    height: calc(100vh - 375px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  .stepper-body::-webkit-scrollbar {
    width: 5px; 
  }
  
  .stepper-body::-webkit-scrollbar-thumb {
  background-color: #556080; 
  border-radius: 10px;
  }
  
  .stepper-body::-webkit-scrollbar-track {
  background-color: transparent; 
  }
}

.ng-dropdown-header{
  background: #2A3042;
}

.custom-checkbox {
  appearance: none;
  width: 10px;
  height: 10px;
  background-color: #A6B0CF;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.custom-checkbox:checked {
  background-color: #A6B0CF;
}

.custom-checkbox:checked::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-marked {
  background-color: #A6B0CF;
}

