<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-start justify-content-start">
            <i class="bx bx-left-arrow-alt font-size-18 pointer" (click)="routeToListDevice()"></i>
            <h4 class="card-title mb-4">Add Device</h4>
        </div>
        <form (ngSubmit)="addDevice()" [formGroup]="deviceForm" class="cutsom-form">
            <h6 class="mb-2">Device Details</h6>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <label for="deviceName">Device Name</label>
                    <input type="text" class="form-control"
                        [ngClass]="{ 'form-error':showError('deviceName'),'form-success':showSuccess('deviceName') }"
                        formControlName="deviceName">
                    <div *ngIf="formTouched('deviceName')">
                        <div *ngIf="isError('deviceName','required')" class="text-danger">
                            {{errorMessage('deviceName','required')}}
                        </div>
                        <div *ngIf="isError('deviceName','pattern')" class="text-danger">
                            {{errorMessage('deviceName','pattern')}} </div>
                        <div *ngIf="isError('deviceName','maxlength')" class="text-danger">
                            {{errorMessage('deviceName','maxlength')}} </div>
                        <div *ngIf="isError('deviceName','minlength')" class="text-danger">
                            {{errorMessage('deviceName','minlength')}} </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <label for="accountName">Device Status</label>
                    <div class="form-check form-switch form-switch-lg mb-3">
                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" (click)="toggle()"
                            formControlName="status" [ngModel]="this.deviceForm.get('status').value">
                        <label class="form-check-label" for="SwitchCheckSizelg">{{this.deviceForm.get('status').value ?
                            'Active' : 'In
                            Active'}}</label>
                    </div>
                </div>
            </div>
            <h6 class="mb-2" *ngIf="showListAccount">Account Details</h6>
            <div class="row" *ngIf="showListAccount">
                <div class="col-md-6 mb-4">
                    <div class="col-sm-12" *ngIf="showListAccount">
                        <ng-select #accList [items]="accountList" [searchable]="false"
                            [ngModel]="accountList[0]?.account?.id" bindLabel="account.name" [clearable]="false"
                            bindValue="account.id" (change)="changeAccountData($event?.account?.id)"
                            [placeholder]="'Account'" formControlName="account" typeToSearchText="Type to search">
                            <ng-template ng-header-tmp>
                                <div class="form-group has-feedback">
                                    <input style="width: 100%;line-height: 24px" type="text" class="form-control"
                                        placeholder="Search" (input)="accList.filter($event.target.value)" />
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
            </div>
            <h6 class="mb-2" *ngIf="showListSite">Site Details</h6>
            <div class="row" *ngIf="showListSite">
                <div class="col-md-6 mb-4">
                    <ng-select #sitesList [items]="siteList" [searchable]="false" [ngModel]="siteList[0]?.id"
                        bindLabel="name" [clearable]="false" bindValue="id" (change)="changeSiteData($event.id)"
                        formControlName="site" typeToSearchText="Type to search">
                        <ng-template ng-header-tmp>
                            <div class="form-group has-feedback">
                                <input style="width: 100%;line-height: 24px" type="text" class="form-control"
                                    placeholder="Search" (input)="sitesList.filter($event.target.value)" />
                            </div>
                        </ng-template>
                    </ng-select>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary w-md" [disabled]="deviceForm.invalid">Submit</button>
            </div>
        </form>
    </div>
</div>