<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-start justify-content-start">
            <i class="bx bx-left-arrow-alt font-size-18 pointer" *ngIf="showListProduct"
                (click)="routeToListProduct()"></i>
            <h4 class="card-title mb-4">Edit Product</h4>
        </div>
        <form (ngSubmit)="updateProduct()" [formGroup]="productForm" class="custom-form">
            <h6 class="mb-2">Product Details</h6>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <label for="productName">Name</label>
                    <input type="text" class="form-control"
                        [ngClass]="{ 'form-error':showError('productName'),'form-success':showSuccess('productName') }"
                        formControlName="productName">
                    <div *ngIf="formTouched('productName')">
                        <div *ngIf="isError('productName','required')" class="text-danger">
                            {{errorMessage('productName','required')}}
                        </div>
                        <div *ngIf="isError('productName','pattern')" class="text-danger">
                            {{errorMessage('productName','pattern')}} </div>
                        <div *ngIf="isError('productName','maxlength')" class="text-danger">
                            {{errorMessage('productName','maxlength')}} </div>
                        <div *ngIf="isError('productName','minlength')" class="text-danger">
                            {{errorMessage('productName','minlength')}} </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <label for="productDesc">Description</label>
                    <input type="text" class="form-control"
                        [ngClass]="{ 'form-error':showError('productDesc'),'form-success':showSuccess('productDesc') }"
                        formControlName="productDesc">
                    <div *ngIf="formTouched('productDesc')">
                        <div *ngIf="isError('productDesc','pattern')" class="text-danger">
                            {{errorMessage('productDesc','pattern')}} </div>
                        <div *ngIf="isError('productDesc','maxlength')" class="text-danger">
                            {{errorMessage('productDesc','maxlength')}} </div>
                        <div *ngIf="isError('productDesc','minlength')" class="text-danger">
                            {{errorMessage('productDesc','minlength')}} </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <label for="productPrice">Price</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" class="form-control custom-number-input"
                            [ngClass]="{ 'form-error': showError('productPrice'), 'form-success': showSuccess('productPrice') }"
                            formControlName="productPrice" placeholder="0">
                    </div>
                    <div *ngIf="formTouched('productPrice')">
                        <div *ngIf="isError('productPrice','required')" class="text-danger">
                            {{ errorMessage('productPrice','required') }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <label for="productType">Type</label>
                    <input type="text" class="form-control" formControlName="type">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label for="productNew">Is New?</label>
                    <div class="form-check form-switch form-switch-lg mb-3">
                        <input class="form-check-input ml-2" type="checkbox" id="SwitchCheckSizelg"
                            (click)="toggle('isNew')" formControlName="isNew"
                            [checked]="this.productForm.get('isNew').value">
                        <label class="form-check-label" for="SwitchCheckSizelg">{{this.productForm.get('isNew').value ?
                            'Yes' : 'No'}}</label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label for="productSpecial">Is Special?</label>
                    <div class="form-check form-switch form-switch-lg mb-3">
                        <input class="form-check-input ml-2" type="checkbox" id="SwitchCheckSizelg"
                            (click)="toggle('isSpecial')" formControlName="isSpecial"
                            [checked]="this.productForm.get('isSpecial').value">
                        <label class="form-check-label"
                            for="SwitchCheckSizelg">{{this.productForm.get('isSpecial').value ?
                            'Yes' : 'No'}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label for="productStatus">Status</label>
                    <div class="form-check form-switch form-switch-lg mb-3">
                        <input class="form-check-input ml-2" type="checkbox" id="SwitchCheckSizelg"
                            (click)="toggle('status')" formControlName="status"
                            [checked]="this.productForm.get('status').value">
                        <label class="form-check-label" for="SwitchCheckSizelg">{{this.productForm.get('status').value ?
                            'Active' : 'In
                            Active'}}</label>
                    </div>
                </div>
            </div>
            <h6 class="mb-2" *ngIf="showListAccount">Account Details</h6>
            <div class="row" *ngIf="showListAccount">
                <div class="col-md-6 mb-4">
                    <div class="col-sm-12" *ngIf="showListAccount">
                        <input type="text" class="form-control" formControlName="account">
                    </div>
                </div>
            </div>
            <h6 class="mb-2" *ngIf="showListSite">Site Details</h6>
            <div class="row" *ngIf="showListSite">
                <div class="col-md-6 mb-4">
                    <ng-select #sitesList [items]="siteList" [searchable]="false" [ngModel]="siteList[0]?.id"
                        bindLabel="name" [clearable]="false" bindValue="id" (change)="changeSiteData($event?.id)"
                        formControlName="site" typeToSearchText="Type to search">
                        <ng-template ng-header-tmp>
                            <div class="form-group has-feedback">
                                <input style="width: 100%;line-height: 24px" type="text" class="form-control"
                                    placeholder="Search" (input)="sitesList.filter($event.target.value)" />
                            </div>
                        </ng-template>
                    </ng-select>
                </div>
            </div>
            <h6 class=" mb-2" *ngIf="showListCategory">Category Details</h6>
            <!-- Category Name -->
            <div class="row" *ngIf="showListCategory">
                <div class="col-md-6 mb-4">
                    <ng-select #cList [items]="categoryList" bindLabel="name" [clearable]="false" bindValue="id"
                        [multiple]="true" formControlName="categories" [closeOnSelect]="false" [searchable]="false">
                        <ng-template ng-header-tmp>
                            <div class="form-group has-feedback">
                                <input style="width: 100%;line-height: 24px" type="text" class="form-control"
                                    placeholder="Search" (input)="cList.filter($event.target.value)" />
                            </div>
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                            <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected"
                                [checked]="item$.selected" class="custom-checkbox" /> {{
                            item?.name}}
                        </ng-template>
                    </ng-select>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary w-md"
                    [disabled]="productForm.invalid || !productForm.dirty">Submit</button>
            </div>
        </form>
    </div>
</div>