<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-start justify-content-start">
            <i class="bx bx-left-arrow-alt font-size-18 pointer" (click)="routeToListRole()"></i>
            <h4 class="card-title mb-4">Edit Role</h4>
        </div>
        <form [formGroup]="roleForm" class="role-form" (ngSubmit)="updateRole()">
            <h6 class="mb-2">Account Details</h6>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <label for="accountName">Account Name</label>
                    <input type="text" class="form-control" formControlName="account">
                </div>
            </div>
            <h6 class="mb-2">Role Details</h6>
            <!-- Second Row -->
            <div class="row">
                <!-- Role Name -->
                <div class="col-md-6 mb-4">
                    <label for="roleName">Role Name</label>
                    <input type="text" class="form-control" formControlName="roleName">
                </div>
                <div class="col-md-6 mb-4" style="padding-right: 1.2rem;">
                    <label for="rleType">Role Type</label>
                    <input for="roleDefault" class="form-control" [value]="this.roleForm.get('isDefault').value ?
        'Default' : 'Custom'" [attr.disabled]="true">
                </div>
            </div>
            <div class="row">
                <div class="col-container">
                    <div class="col-md-12 mb-4">
                        <h6>Permissions</h6>
                        <div formGroupName="userPermissions" class="row">
                            <div *ngFor="let key of permissionsData | keys" class="col-md-6 mt-3">
                                <label for="rolePermissions">{{ key }}</label>
                                <div formArrayName="{{ key }}">
                                    <div class="form-check form-check-inline"
                                        *ngFor="let permission of permissionsData[key]; let i = index">
                                        <input class="form-check-input" type="checkbox"
                                            [formControl]="getFormControl(key, i)">
                                        {{ getPermissionLabel(permission.name) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary w-md" [disabled]="roleForm.invalid">Submit</button>
            </div>
        </form>
    </div>
</div>