.disabled {
    opacity: 0.5; 
    pointer-events:none;
    background-color: #2a3042;
  }

  .permission-groups {
    display: flex;
    flex-wrap: wrap;
  }
  
  .permission-group {
    width: 50%;
  }
  
  .permission-items {
    display: flex;
    flex-wrap: wrap;
  }
  
  .permission-item {
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .role-form{
    height: 90%;
    overflow-y: scroll;
    overflow-x:hidden;
    scrollbar-width: thin;
    scrollbar-color: #556080;
  }
  
  .card-body{
    height: calc(100vh - 180px);
  }
  .role-form::-webkit-scrollbar {
    width: 5px; 
  }
  
  .role-form::-webkit-scrollbar-thumb {
    background-color: #556080; 
    border-radius: 10px;
  }
  
  .role-form::-webkit-scrollbar-track {
    background-color: transparent; 
  }

  .permissions-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .permission-group {
    width: 50%; 
    box-sizing: border-box;
    padding: 0 15px; 
  }
  
  .permission-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
  }
  
  .permission-item input {
    margin-right: 5px; 
  }
  